@import '../../styles/colors.scss';

div.reading-time {
  background-color: $secondary;
  border-radius: 5px;
  color: $white;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1em;

  .reading-time-text {
    margin-left: 1em;
  }

  @media (min-width: 768px) {
    max-width: 50%;
  }

  @media (min-width: 992px) {
    max-width: 30%;
  }

  @media (min-width: 1200px) {
    max-width: 20%;
  }
}