@import '../../styles/colors.scss';

footer.footer {
  // height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: $primary;
  margin-top: 20vh;
  padding-top: 15vh;

  .footer-content {
    -webkit-box-shadow: -1px -6px 14px -1px rgba(0,0,0,0.38);
    -moz-box-shadow: -1px -6px 14px -1px rgba(0,0,0,0.38);
    box-shadow: -1px -6px 14px -1px rgba(0,0,0,0.38);
    background-color: $primary;

    .about, .subscribers, .links {
      color: $white;
      margin: 1rem 0;
      font-size: 0.8em;
    }

    .about {
      text-align: justify;
    }

    .links {
      .part {
        margin: 0 1rem;
      }

      h4 {
        color: $secondary;
        font-size: 0.9em;
      }

      a, a:hover {
        color: $white;
      }
    }
  }
}