@import "./styles/colors";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|DM+Serif+Text|EB+Garamond&display=swap');

body, html {
  background-color: $primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @media (min-width: 576px) {
    max-width: 700px !important;
  }

  @media (min-width: 768px) {
    max-width: 1000px !important;
  }

  @media (min-width: 992px) {
    max-width: 1160px !important;
  }
    
  @media (min-width: 1200px) {
    max-width: 1440px !important;
  }
}

.overlap-top {
  margin-top: -45vh;

  @media (min-width: 576px) {
    margin-top: -35vh;
  }

  @media (min-width: 768px) {
    margin-top: -30vh;
  }

  @media (min-width: 992px) {
    margin-top: -25vh;
  }
    
  @media (min-width: 1200px) {
    margin-top: -20vh;
  }
}

.overlap-bottom {
  margin-bottom: 45vh;

  @media (min-width: 576px) {
    margin-bottom: 35vh;
  }

  @media (min-width: 768px) {
    margin-bottom: 30vh;
  }

  @media (min-width: 992px) {
    margin-bottom: 25vh;
  }
    
  @media (min-width: 1200px) {
    margin-bottom: 20vh;
  }
}

@mixin resp-overlap-top($value) {
  margin-top: $value !important;

  @media screen and (max-width: 640px) {
    margin-top: $value * 1.5 !important;
  }

  @media screen and (min-width: 641px) and (max-width: 800px) {
    margin-top: $value * 1.4 !important;
  }

  @media screen and (min-width: 801px) and (max-width: 1024px) {
    margin-top: $value * 1.3 !important;
  }

  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    margin-top: $value * 1 !important;
  }
}

.overlap-top-40 { @include resp-overlap-top(-40vh); }

.container-notfound {
  background-color: $break-white;
  min-height: 50vh;
  border-radius: 5px;

  h1 {
    font-size: 2em;
    text-align: center;
  }
  
  .quote {
    width: 50%;
    font-style: italic;
    margin: 1em auto 0 auto;
    font-size: 1.5em;

    .author {
      text-align: right;
      font-style: normal;
      font-weight: 900;
    }
  }
}

.post-content {
  text-align: justify;
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  padding: 0 0.5em;

  ul {
    list-style-type: none;
    padding-left: 0.5em;

    li::before {
      content: '\2013';
      margin-right: 0.5em;
    }
  }

  hr {
    margin: 1em 0 2em 0;
    border: none;
    font-weight: bold;

    &:before {
      display: block;
      content: '* * *';
      text-align: center;
    }
  }
}
